<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <h1 class="display-3">Sucessfully logged in!</h1>


    <% usersWithSecrets.forEach(function(user){   %>
        <p class="secret-text"><%=user.secret%></p>
      <% })%>

    <hr>

    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Update Your Profile</a>
  </div>
</div>

<%- include('partials/footer') %>
